<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Farmacias de turno en la Region Metropolitana.</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="icon" type="image/png" href="/icons/favicon.png">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<script src="/js/farmacias.js"></script>

<link href="/css/farmacias.css" rel="stylesheet"></link>

</head>

<body>

	<br>

	<div class="container">

		<h1>Farmacias de turno en la Región Metropolitana.</h1>

		<br> <br>

		<div class="row">

			<h2 class="col-md-12 col-lg-6">Seleccione la comuna</h2>

		</div>

		<div class="row">

			<div class="col-md-12 col-lg-6">

				<select id="selectComunas" class="form-control"></select>

			</div>

		</div>

		<br> <br>

		<div id="divFarmacias"></div>

	</div>

</body>

</html>
